/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/07/2016, 08:09:26 PM
    Author     : oliva
*/

body{
    /*
        The navbar uses 50px apox because hide the content
    */
    padding-top: 70px;
    padding-bottom:100px;
}




@media (max-width:750px){
    /*
      Setting padding to the Breadcrumbs elements
    */
    #pathBreadcrumbs li a {
        padding-left: 15px;
        padding-right: 15px;
    }
    body{
        padding-top: 140px;
    }
}

@media (min-width:751px){
    /*
      Setting padding to the Breadcrumbs elements
    */
    #pathBreadcrumbs {
        padding-left: 15px;
    }
    #pathBreadcrumbs li a {
        padding-left: 1px;
        padding-right: 1px;
    }
}






#treeSideBar {
    overflow: auto;
    height:90%;
}

/*
http://www.bootply.com/88026#
*/
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 0px;
}

#sidebar hr{
    border-top-width: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}



@media screen and (max-width: 767px){
.row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: relative;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    /*padding-top:50px;*/
    width: 110%;
    height: 40%;
    margin-bottom: 250px;
    position: relative;
  }
  #content{
    position: relative;
    padding-top: 25px;
  }

}



/* collapsed sidebar styles */
/*
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}



*/





#folderContainerToolBarDropdown1{
    padding-left: 15px;
}
#folderContainerToolBarDropdown1 ul{
    margin-left: 70px;
}

#content{
    position: relative;
}

folderContainerTableElements{
   
}

#folderContainerTableElements tr {
    padding-top: 8px;
    padding-right: 1px;
    padding-bottom: 8px;
    padding-left: 1px;
    border: 0 #f2f2f2 solid;
    border-bottom-width: 1px;
}

#folderContainerTableElements tr:hover{
        background-color: #eee
}

#folderContainerTableElements tr td, th {
   <!-- padding: inherit; -->
}

.colorEven1{
   <!-- background-color: #99ccff; -->
}
.colorOdd1{
   <!-- background-color: #9999ff; -->
}