<div>
            {foreach $serverValues as $value }
                <span class="label label-default">
                    {$value@key}: {$value}
                </span>
            {/foreach}
</div>